

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @RenderSection("style",false)
</head>
<body>
    <div> 
       @RenderBody()@*placeholder - this is where views are injected like a master page*@
    </div>


   <script src="~/scripts/jquery-1.8.0.min.js"></script>
   <script src="~/scripts/jquery.validate.min.js"></script>
   <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>


   @RenderSection("script",false)@*this is where all views inject html by default*@
</body>
</html>
