

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @RenderSection("style",false)
</head>
<body>
    <div> 
       @RenderBody()@*placeholder - this is where views are injected like a master page*@
    </div>

   @RenderSection("script",false)@*this is where all views inject html by default*@
</body>
</html>
